{
    "compiler": "modular",
    "name": "yunhaojiarui-pc",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
    	"styles/index.sass",
    	"scripts/index.js",
    	"styles/about.sass",
    	"scripts/about.js",
        "styles/project.sass",
        "scripts/project.js",
        "styles/project-detail.sass",
        "scripts/project-detail.js",
        "styles/jobs.sass",
        "scripts/jobs.js",
        "styles/team.sass",
        "scripts/team.js",
        "styles/contact.sass",
        "scripts/contact.js"
    ]
}